*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.watchr
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/public/uploads/*
/coverage/
/spec/tmp/*
/spec/support/uploads/**
**.orig
rerun.txt
pickle-email-*.html
*.sublime-project
*.sublime-workspace
config/database.yml
.rvmrc
db/import
db/seeds.rb
db/dump.db
cookies
.rbenv-version
.ruby-version
.agignore
erd.pdf
