---
http_interactions:
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/search?client_id=5GBIKZNVXMPPHSXPCMXYJOSXODMY0NQP3SPN5NY5JTAXGZH2&client_secret=EXBJBAD3Q2FYCW50B2WETI3S3MUGJMZULOYV305K5IK245TY&ll=40.7,-74&v=20130225
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '100'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"response":{"venues":[{"id":"4e15d1348877cd5712112a44","name":"The
        Arena","contact":{},"location":{"address":"110 Wall Street","lat":40.69991640144227,"lng":-74.00135297634154,"distance":114,"city":"New
        York","state":"NY","country":"United States","cc":"US"},"canonicalUrl":"https:\/\/foursquare.com\/v\/the-arena\/4e15d1348877cd5712112a44","categories":[{"id":"4bf58dd8d48988d1e4941735","name":"Campground","pluralName":"Campgrounds","shortName":"Campground","icon":{"prefix":"https:\/\/foursquare.com\/img\/categories_v2\/parks_outdoors\/campground_","suffix":".png"},"primary":true}],"verified":false,"restricted":true,"stats":{"checkinsCount":104,"usersCount":25,"tipCount":4},"likes":{"count":0,"groups":[]},"specials":{"count":0,"items":[]},"hereNow":{"count":0,"groups":[]},"referralId":"v-1361810287"},{"id":"500d8171e4b02ee07c2b90d8","name":"Chinese
        Mirch","contact":{},"location":{"address":"Front Street and Wall Street","lat":40.700843811035156,"lng":-74.00211334228516,"distance":201,"postalCode":"10005","city":"New
        York","state":"NY","country":"United States","cc":"US"},"canonicalUrl":"https:\/\/foursquare.com\/v\/chinese-mirch\/500d8171e4b02ee07c2b90d8","categories":[{"id":"4bf58dd8d48988d1cb941735","name":"Food
        Truck","pluralName":"Food Trucks","shortName":"Street Food","icon":{"prefix":"https:\/\/foursquare.com\/img\/categories_v2\/food\/streetfood_","suffix":".png"},"primary":true}],"verified":false,"restricted":true,"stats":{"checkinsCount":92,"usersCount":45,"tipCount":2},"likes":{"count":0,"groups":[]},"specials":{"count":0,"items":[]},"hereNow":{"count":0,"groups":[]},"referralId":"v-1361810287"},{"id":"42377700f964a52024201fe3","name":"Brooklyn
        Heights Promenade","contact":{},"location":{"address":"Columbia Heights","crossStreet":"btwn
        Remsen & Orange","lat":40.69829137715981,"lng":-73.99663209915161,"distance":342,"postalCode":"11201","city":"Brooklyn","state":"NY","country":"United
        States","cc":"US"},"canonicalUrl":"https:\/\/foursquare.com\/v\/brooklyn-heights-promenade\/42377700f964a52024201fe3","categories":[{"id":"4bf58dd8d48988d164941735","name":"Plaza","pluralName":"Plazas","shortName":"Plaza
        \/ Square","icon":{"prefix":"https:\/\/foursquare.com\/img\/categories_v2\/parks_outdoors\/plaza_"[...]
