---
http_interactions:
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/search?client_id=5GBIKZNVXMPPHSXPCMXYJOSXODMY0NQP3SPN5NY5JTAXGZH2&client_secret=EXBJBAD3Q2FYCW50B2WETI3S3MUGJMZULOYV305K5IK245TY&ll=40.7,-74&v=20130225
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 504
      message: Gateway Time-out
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"code":504,"errorType":"server_error","errorDetail":"Foursquare
        servers are experiencing problems. Please retry and check status.foursquare.com
        for updates."},"response":{}}

'
  recorded_at: Mon, 25 Feb 2013 15:15:06 GMT
recorded_with: VCR 2.4.0
