- beer = f.object

%fieldset
  %legend New Beer
  .row
    .large-12.columns
      = f.input :name, wrapper: :foundation
  .row
    .large-6.columns
      = f.association :beer_color
    .large-6.columns
      = f.input :country, as: :string

  = f.submit class: 'button'
