-# .row
-#   .large-12.columns
-#     = link_to 'New Beer', new_admin_beer_path, class: 'button'

-# .row
-#   .large-12.columns
-#     %h2= 'Suggestions'
-#     - if @suggested.any?
-#       = render layout: 'list', locals: { collection: @suggested } do |beer|
-#         = link_to 'Accept', accept_admin_beer_path(beer), method: :put, class: 'small success button'
-#         = link_to 'Edit', edit_admin_beer_path(beer), class: 'small button'
-#         = link_to 'Delete', admin_beer_path(beer), method: :delete, confirm: 'Are you sure?', class: 'small alert button'
-#     - else
-#       = "No suggestions"



-# .row
-#   .large-12.columns
-#     %h2= "All beers (#{Beer.accepted.count})"
-#     - if @beers.any?
-#       = render layout: 'list', locals: { collection: @beers } do |beer|
-#         = link_to 'Reject', reject_admin_beer_path(beer), method: :put, class: 'small success button'
-#         = link_to 'Edit', edit_admin_beer_path(beer), class: 'small button'
-#         = link_to 'Delete', admin_beer_path(beer), method: :delete, confirm: 'Are you sure?', class: 'small alert button'
-#     - else
-#       = "No beers"

-# .row
-#   .large-12.columns
-#     %h2= 'Rejected beers'
-#     - if @rejected.any?

-#       = render layout: 'list', locals: { collection: @rejected } do |beer|
-#         = link_to 'Re accept', accept_admin_beer_path(beer), method: :put, class: 'small success button'
-#         = link_to 'Edit', edit_admin_beer_path(beer), class: 'small button'
-#         = link_to 'Delete', admin_beer_path(beer), method: :delete, confirm: 'Are you sure?', class: 'small alert button'

-#     - else
-#       = "No beers"
